[workspace]
members = [
  "src/cgroups",
  "src/container",
  "src/image",
  "src/network",
  "src/namespace",
  "src/rocker",
]
resolver = "2"

[profile.dev]
overflow-checks = true
panic = "unwind"

[profile.release]
incremental = false
lto = true
overflow-checks = false
panic = "unwind"
