[package]
authors = ["MathxH Chen <brainfvck@foxmail.com>"]
name = "cgroups"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
